
.profile {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  width: 18rem;
  height: 33rem;
  padding: 1.5rem 0.8rem;
  margin-block: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;

  border: 4px solid rgba(110, 122, 135, 0.468);
  border-radius: 3px;
  background-color: rgb(246, 254, 254);
  box-shadow: 0px 0px 34px -7px rgba(0, 0, 0, 0.75);

  text-align: center;
  color: rgb(110, 122, 135);
  font-weight: 700;
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar {
  width: 15rem;
  height: 15rem;

  

  border-radius: 50em;
  border: 0.5px solid rgba(0, 0, 0, 0.185);

  overflow: hidden;
}

.name {
  font-size: 1.4em;
  margin-bottom: 0.1em;
}
.tag {
  width: fit-content;
  display: block;

  margin: 0;

  font-size: 0.8em;
  font-weight: 500;
  letter-spacing: 0.05em;

  cursor: pointer;
  transition: font-weight 0.1s ease-out;
}
.tag:hover {
  font-weight: 700;
}
.location {
  font-size: 0.9em;
}

.stats {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  list-style: none;
}
.statsItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2em;

  margin-inline: 0 4em;
  margin-block: 0 0.7em;

  letter-spacing: 0.06em;
}
.label {
  font-weight: 500;
}
.quantity {
  letter-spacing: 0.09em;
}
.usersIcon,
.eyeIcon,
.likeIcon {
  position: absolute;
  left: 1.2em;
  transform: translateY(-0.2em);

  width: 2em;
  padding: 0.5em;

  background-color: rgba(173, 190, 209, 0.632);
  border-radius: 50em;
}
